.mina-sidor{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
  
}
h1{
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.done{
    
        background-color:darkmagenta;
        width: 60%;
        border-radius: 2%;
        padding: 10px;
      
    
}
.pending{
    background-color: chocolate;
    width: 60%;
    margin-left: 2%;
    border-radius: 2%;
    padding: 10px;
  
}
.booking{
    background-color: cornflowerblue;
    border-radius: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    padding: 10px;
    align-items:center;
    justify-content:space-evenly;
  


}
input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;

  }
.editbox{
    background-color:cadetblue;
    border-radius: 2%;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    padding: 10px;
    align-items:center;
    justify-content:space-evenly;


}
.nobox{
    display: none;
}